* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    margin-top: 50px;
    background: rgb(117, 100, 78);
    padding: 10px 20px;
    position: relative;
}

.turn-indicator {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: white;
    width: 35px;
    height: 35px;
    z-index: 99;
    border-radius: 50%;
}

.taken-pieces-container {
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: center;
    width: 65px;
}

.taken-piece {
    margin: 6px 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.taken-piece.black {
    color: #000;
}

.taken-piece.white {
    color: #fff;
}

.taken-piece span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.vert-coords-container {
    display: flex;
    flex-direction: column;
    width: 20px;
    margin-left: 20px;
}

.coords {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.vert {
    height: 45px;
}

.horiz {
    width: 45px;
}

.blank {
    height: 20px;
}

.horiz-coords-container {
    display: flex;
    height: 20px;
}

.board {
    margin-right: 40px;
}

.row {
    display: flex;
}

.square {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.even-square {
    background-color: rgb(209, 194, 143);
}

.odd-square {
    background-color: rgb(117, 100, 78);
}

.even-square.possible-move {
    background-color: rgb(167, 209, 143);
}

.odd-square.possible-move {
    background-color: rgb(105, 117, 78);
}

.even-square.possible-attack {
    background-color: rgb(201, 104, 66);
}

.odd-square.possible-attack {
    background-color: rgb(136, 63, 50);
}

.fas{
    font-size: 32px;
}

.fas.black {
    color: #000;
}

.fas.white {
    color: #fff;
}

.active-piece {
    transform: scale(1.2);
    color: white;
}